.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 2rem;

  .size-range-box {
    display: flex;
    gap: 1rem;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .box {
    width: 10rem;
    height: 10rem;
    border: 1px solid black;
  }
}
